.App {
  text-align: center;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
img {
  width: 20px;
  height: 20px;
  align-items: center;
}
.content {
  display: flex;
  max-width: 922px;
  margin: auto;
}
.sidebar {
  user-select: none;
  width: 266px;
  height: 100vh;
  border-right: 1px solid;
  /* background-color: #fafafa; */
}
.active {
  margin-bottom: 10px;
  cursor: pointer;
  padding: 15px;
}
.icon {
  margin-right: 10px;
}

